@font-face{
	font-family: mon;
	src: url(../belajarpwaRPL/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face{
	font-family: monbold;
	src: url(../belajarpwaRPL/fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face{
	font-family: monxbold;
	src: url(../belajarpwaRPL/fonts/Montserrat/Montserrat-Black.ttf);
}
html
{
	scroll-behavior: smooth;
}

body
{
	background-color: black;
}

/*Index Navbar*/
.index .navbar
{
	position: relative;
	z-index: 1;
	background-color: black;
	border-bottom: 1px solid cyan;
}
/*NAVBAR*/
.navbar
{
	position: relative;
	z-index: 1;
	/* background-color: black; */
	border-bottom: 1px solid cyan;
}
.navbar-brand
{
	font-family: monxbold;
	font-size: 32px;
	color: white;
}

.butmodal .btn-primary
{
	background-color: black;
	border-radius: 3px;
	border: 1px solid cyan;
}

.butmodal .btn-primary:hover
{
	background-color: cyan;
	border-radius: 3px;
	border: 1px solid cyan;
}

.modalfooter a:hover
{
	color: blue;
}

/*UTILITY*/
.tombol
{
	text-transform: uppercase;
	border-radius: 40px;
}

/*Jumbotron*/
.jumbotron
{
	background-image: url(img/bg.jpg);
	background-size: cover;
	height: 540px;
	text-align: center;
	position: relative;
}
.bodycontact .jumbotron
{
	background-image: url(img/office.jpg);
	background-size: cover;
	height: 540px;
	text-align: center;
	position: relative;
}
.jumbotron .container
{
	z-index: 1;
	position: relative;
}
.jumbotron::after
{
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, rgba(0,0,0,1),rgba(0,0,0,0));
	position: absolute;
	bottom: 0;
}
.jumbotron .display-4
{
	color: white;
	margin-top: 150px;
	font-weight: 200;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	font-size: 40px;
	font-family: monbold;
	font-weight: 800;
	margin-bottom: 30px;
}

/*Info Panel*/
.info-panel
{
	box-shadow:0 3px 20px rgba(0,0,0,.5);
	border-radius: 12px;
	margin-top: -100px;
	background-color: rgb(10, 10, 10);
	padding: 30px;
	border: 2px solid cyan;
}
.info-panel img
{
	width: 80px;
	height: 80px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.info-panel h4
{
	font-family: mon;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 5px;
	color: white;
}
.info-panel p
{
	font-family: mon;
	font-size: 14px;
	color: #ACACAC;
	margin-top: -5px;
	font-weight: 200;
}

/*WORKINGSPACE*/
.workingspace
{
	margin-top: 120px;
	margin-bottom: 80px;
	text-align: center;
}
.workingspace img
{
	border: 1px solid cyan;
}
.workingspace h3
{
	font-family: monbold;
	font-size: 52px;
	font-weight: 200;
	text-transform: uppercase;
	margin-top: 30px;
	color: white;
}
.workingspace h3 span
{
	font-weight: 900;
}

.tutor h2
{
	font-family: monbold;
	color: white;
	margin-top: 100px;
	font-weight: 900;
	text-align: left;
}
.card
{
	font-family: mon;
	margin-top: 10px;
	border: 2px solid cyan;
	/* margin-left: 100px; */
}

/*forum*/
.forum
{
	font-family: mon;
}

.forum .card-header
{
	font-family: mon;
	font-size: 20px;
	color: white;
	background-color: black;
	border: 1px solid cyan;
}

.forum .card-body
{
	color: white;
	background-color: rgba(15,15,15);
}

.forum a
{
	background-color: cyan;
	color: black;
}

/*Testimoni*/
.testimoni
{
	margin-top: 100px;
}
.testimoni h5
{
	font-family: mon;
	text-align: center;
	font-weight: 200;
	font-style: italic;
	font-size: 24px;
	color: white;
}
.testimoni figure img
{
	max-width: 90px;
	margin: 20px 10px 10px;
	opacity: 0.6;
}

.testimoni figure h5
{
	font-family: mon;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	color: white;
}
.testimoni figure p
{
	font-family: mon;
	font-size: 12px;
	color: white;
	margin-top: -5px
}
.testimoni figcaption
{
	text-align: center;
}
.testimoni figure img.utama
{
	width: 90px;
	opacity: 1;
	margin-top: 5px;
}
/*contact*/
.contact
{
	margin-top: 75px;
}

.contact .container h1
{
	color: white;
	font-size: 50px;
	text-align: center;
}

.contact .container .btn-primary
{
	margin-top: 30px;
	background-color: black;
	border: 1px solid cyan;
}

.contact .container .btn-primary:hover
{
	background-color: aqua;
}

/*footer*/
.footer
{
	margin-top: 100px;
}
.footer p
{
	color: #ACACAC;
	font-size: 18px;
}

/*about page*/
.aboutbody
{
	background-image: url("/img/galaxy2.jpg");
	background-size: cover;
}

.about p
{
	font-family: mon;
	font-size: 25px;
}

/*register page*/
.bodyregis
{
	background-image: url("/img/darkbg.jpg");
	background-size: cover;
	position: relative;
	margin-bottom: 100px;
}

.logo
{
	margin: 0 auto;
	max-width: 300px;
}

.register
{
	font-family: monbold;
	font-size: 18px;
	color: white;
}

.register .formregis
{
	margin: 0 auto;
	max-width: 500px;
	padding-left: 30px;
	padding-right: 30px;
}

.formregis .btn-primary
{
	background-color: black;
	border: 1px solid cyan;
}

.formregis .btn-primary:hover
{
	background-color: aqua;
}

/*contact page*/
.bodycontact .butmodal button
{
	background-color: transparent;
}

.mail
{
	margin: 0 auto;
	/* margin-top: 120px; */
	margin-bottom: 80px;
	max-width: 1100px;
	color: white;
	font-family: mon;
	font-size: 18px;
}
.mail img
{
	border: 1px solid cyan;
}

.mail .formcontact
{
	border: 1px solid cyan;
	border-radius: 3px;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
}

.mail .btn-primary
{
	border: 1px solid cyan;
	background-color: black;
}

.mail .btn-primary:hover
{
	background-color: aqua;
	
}

.mail h1
{
	text-align: center;
	font-family: monbold;
	font-size: 50px;
	margin-top: 20px;
}

/*Forum Page*/
.bodyforum
{
	background-image: url("/img/office2.jpg");
	background-size: cover;
	position: relative;
	margin-bottom: 100px;
}

.bodyforum .navbar1
{
	background-color: black;
}

.bodyforum .navbar2 .container
{
	max-width: 100%;
	text-align: center;	
}

.bodyforum .navbar2 ul
{
	text-align: center;
	position: relative;
	margin: 0 auto;
}

.bodyforum .tutor
{
	margin: 0 auto;
	margin-top: 50px;
	align-items: center;
}

/*Desktop Version*/

@media (min-width: 992px) 
{
	.navbar-brand, .nav-link
	{
		color: white !important;
		text-shadow: 1px 1px 1px rgba(0,0,0,.7);
	}

	.nav-link
	{
		text-transform: uppercase;
		margin-right: 30px;
	}

	.nav-link:hover::after
	{
		content: "";
		display: block;
		border-bottom: 3px solid #0B63DC;
		width: 50%;
		margin: auto;
		padding-bottom: 5px;
		margin-bottom: -8px;
	}

	.jumbotron
	{
		margin-top: -75px;
		height: 640px;
	}

	.jumbotron .display-4
	{
		font-size: 62px;
	}

	.workingspace
	{
		text-align: left;
	}

	.testimoni h5
	{
		font-size: 32px;
	}
}